table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}
td {
    height: 50px;
    vertical-align: bottom;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #008B8B;
    color: white;
}
th, td {
    padding: 15px;
    text-align: left;
}
